Package: cn.flamescion.bookworm-compatibility-mode
Version: 12.1.6
Section: misc
Priority: optional
Depends: bubblewrap
Maintainer: shenmo <shenmo@spark-app.store>
Architecture: amd64
Description: bwrap wrapper for install and running debs inside a bookworm container
