[Desktop Entry]
Categories=utils
Exec=bookworm-run %U
Icon=cn.flamescion.bookworm-compatibility-mode
Name=Amber CE
Name[zh_CN]=ACE兼容环境
Keywords=BCM,ACE,ace,mode
StartupNotify=true
Type=Application
Terminal=true
Categories=System
