[Desktop Entry]
Categories=utils
Exec=/opt/apps/cn.flamescion.bookworm-compatibility-mode/files/bin/bookworm-run %U
Icon=cn.flamescion.bookworm-compatibility-mode
Name=Bookworm CM
Name[zh_CN]=书虫兼容环境
StartupNotify=true
Type=Application
Terminal=true
